<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row" style="margin: 50px ;">
                <h1 class="display-3" style="text-align: center;">Podsumowanie</h1>
            </div>
            <form action="/checkout/finalize" method="POST">
                <div class="row">

                    <div class="col" style="padding: 0px 50px ;">
                        <div class="row">
                            <p class="h3" style="text-align: left;">Dostawa:</p>
                        </div>
                        <div class="row">
                            <h5 style="text-align: left;"> Kurier - 0 zł </h1>
                        </div>
                        <div class="row" style="margin-top: 15%;">
                            <div class="col">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    name="payment_method">
                                    <option value=0 selected>wybierz opcję płatności</option>
                                    <option value=1>Karta płatnicza</option>
                                    <option value=2>Blik</option>
                                    <option value=3>Google Pay</option>
                                    <option value=4>Apple Pay</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col">

                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputName" class="form-label">Imię</label>
                                <input type="text" class="form-control" name="first_name">
                            </div>
                            <div class="col-md-6">
                                <label for="inputSurname" class="form-label">Nazwisko</label>
                                <input type="text" class="form-control" name="last_name">
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Ulica i numer</label>
                            <input type="text" class="form-control" id="inputAddress" name="address">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Miejscowość</label>
                                <input type="text" class="form-control" id="inputCity" name="city">
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label">Kod pocztowy</label>
                                <input type="text" class="form-control" id="inputZip" name="city_code">
                            </div>
                        </div>
                        <div class="row justify-content-end" style="margin: 50px 20px;">
                            <div class="col-auto">
                                <h1 class="display-6">
                                    <%= sum %> zł
                                </h1>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-success">Płacę</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <%- include('templates/end'); %>