<%- include('templates/head'); %>
    <%- include('templates/nav'); %>

        <div class="text-center">
            <h1 class="logo">Rejestracja</h1>
            <div class="login-form-1" style="display: flex; justify-content: center; align-items: center;">
                <form id="register-form" class="text-left" method="POST">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group" style="margin: 10px;">
                                <label for="reg_username" class="sr-only">Nazwa użytkownika</label>
                                <input type="text" class="form-control" id="reg_username" name="reg_username"
                                    placeholder="nazwa">
                            </div>
                            <div class="form-group" style="margin: 10px;">
                                <label for="reg_password" class="sr-only">Hasło</label>
                                <input type="password" class="form-control" id="reg_password" name="reg_password"
                                    placeholder="hasło">
                            </div>
                            <div class="form-group" style="margin: 10px;">
                                <label for="reg_password_confirm" class="sr-only">Potwierdź hasło</label>
                                <input type="password" class="form-control" id="reg_password_confirm"
                                    name="reg_password_confirm" placeholder="hasło">
                            </div>
                            <div class="form-group login-group-checkbox" style="margin: 10px;">
                                <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                                <label for="reg_agree">Zgadzam się na <a href="#">zasady</a></label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                </form>
            </div>
        </div>

        <%- include('templates/end'); %>